@import "tailwindcss";

.light {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #c8c8c8;
}

.light ::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
.light ::-webkit-scrollbar-thumb {
  background: #ccc;
}
.light ::-webkit-scrollbar-track {
  background: #fff;
}

.dark ::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
.dark ::-webkit-scrollbar-thumb {
  background: #ccc;
}
.dark ::-webkit-scrollbar-track {
  background: #212121;
}

body {
  background: var(--background);
  color: var(--foreground);
}
